<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon site avec EJS</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/info_resultat.css">
</head>
<body>
    <img src="/images/wildlens.png" class="bandeau">
    
    <div class="video_align">
        <video id="videoElement" autoplay> Votre navigateur ne détecte aucune caméra.</video>
        <canvas id="canvasElement" style="display:none;"></canvas>

        <script>
            // Obtenez l'élément vidéo
            const video = document.getElementById('videoElement');

            // Demandez l'accès à la caméra
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(err => {
                    console.error("Erreur: " + err);
                });
        </script>
    </div>

    <div>
        <img src="/images/logo_bouton_vert.png" class="bouton_principal" id="imageCliquable">
    </div>
        
    <!-- Ajoutez cet élément <a> dans votre HTML -->
    <a id="downloadLink" style="display:none"></a>

    <div>
        <img src="/images/croix.jpg" class="red_circle" id="red_bouton">
    </div>

    <div>
        <img src="/images/coche.jpg" class="green_circle" id="green_bouton">
    </div>

    <div>
        <img src="/images/recadrer.png" class="recadrer" id="recadrer_bouton">
    </div>


<script>
    const bouton = document.getElementById('imageCliquable');
    const canvas = document.getElementById('canvasElement');
    const context = canvas.getContext('2d');    
    const red_circle = document.querySelector('.red_circle'); // Sélectionnez l'élément avec la classe red_circle
    const green_circle = document.querySelector('.green_circle'); // Sélectionnez l'élément avec la classe red_circle
    const recadrer = document.querySelector('.recadrer'); // Sélectionnez l'élément avec la classe red_circle


        bouton.addEventListener('click', function() {

        video.classList.add('hidden');
        bouton.classList.add('hidden');

        red_circle.style.display = 'block'; // ou 'inline-block' selon votre besoin
        green_circle.style.display = 'block'; // ou 'inline-block' selon votre besoin
        recadrer.style.display = 'block'; // ou 'inline-block' selon votre besoin

        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        
        const image = canvas.toDataURL('image/png');
        
        const capturedImage = document.createElement('img');
        capturedImage.src = image;
        capturedImage.id = 'fullScreenImage';  // Ajoutez un ID pour cibler l'image en CSS
        document.body.appendChild(capturedImage);

            // Ajoutez la classe pour centrer l'image
            capturedImage.classList.add('centeredImage');

        const downloadLink = document.getElementById('downloadLink');
        downloadLink.href = image;
        downloadLink.download = 'captured-image.png';
        downloadLink.click();
    });
    video.addEventListener('loadedmetadata', function() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
    });
</script>

    <div class="vertical-line"></div>
    <div class="horizontal-line"></div>

</body>
</html>