html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.bandeau {
    max-width: auto;
    max-height: auto;
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 0;
}

.video_align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5%;    
}

video {
    transform: rotate(90deg);
    max-width: 125%;
    max-height: 125%;
    border: #31c48d 20px solid;
    border-radius: 10%;
}

.centeredImage {
    display: block;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg) scale(1.25);
    border: #31c48d 20px solid;
    border-radius: 10%;
    margin-top: 5%;
    z-index: 90;
}

.bouton_principal {
    background-size: contain; 
    background-repeat: no-repeat;
    width: 20%; 
    height: auto; 
    cursor: pointer; 
    position: fixed; 
    bottom: 2%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;
    border: #31c48d 5px solid;
    border-radius: 50%;
    padding: 2%;
}

.red_circle {
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: auto;
    display: none;
    position: fixed;
    top: 88%;
    left: 20%;
    transform: translateX(-50%);
    z-index: 100;
    border: #ff0000 5px solid;
    border-radius: 50%;
    padding: 2%;
}

.green_circle {
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%; 
    height: auto;
    display: none;
    position: fixed;
    top: 88%;
    left: 80%;
    transform: translateX(-50%);
    z-index: 100;
    border: #00ff73 5px solid;
    border-radius: 50%;
    padding: 2%;
}

.recadrer {
    background-size: contain; 
    background-repeat: no-repeat; 
    width: 15%;
    height: auto;
    display: none;
    position: fixed;
    top: 88%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border: #000000 5px solid;
    border-radius: 50%;
    padding: 2%;
}
